<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="/navbar-style.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/home-style.css">
    <title>Blog register</title>
</head>
<body>
    <nav> 
        <h1>Blog</h1>
        <u1 class="nav-links">
            <li><a href="./home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </u1>
     <div class="burger">
         <div class="line1"></div>
         <div class="line2"></div>
         <div class="line3"></div>
         
     </div>
    </nav>
    <div class="home__details">
        <h3> Welcome to view popular blogs</h3>
    </div>
    <%  i = 0%>
    <div class="post__list">
        <%if(posts.length==0){%>
            <div class="post__design">
            <h3>No posts available</h3>
            </div>
       <% }%>
    <% while(i < posts.length){%>
        
            <div class="post__design">
                <% if(i < posts.length){%>
                    <div class="post__cubes">
                        <p><u> <%=posts[i].Title%></u></p> 
                          <p><%=posts[i].Sumary%></p>
                          <% if(posts[i].image){%>
                          <div class="post__img"> 
                              <img alt="post Pic" 
                              src="http://localhost:3000/images/posts/<%=posts[i].image%>" class="img-circle img-responsive"> 
                          </div>
                     
                          <% } %>
                         
                         
                          <div class="cube__buttons">
                            <form action="/postview?post=<%=posts[i].id%>" method="POST">
                                <div class="postedit__button">
                                    <button type="submit">view</button>     
                                </div>
                              
                            </form>
                           
                            <% r=0%>
                            <% check=0%>
                            <% while(r< like.length){%>
                                
                               <% if(like[r].postID==posts[i].id){%>
                                <%check=1%>
                               <% }%>
                               <%r=r+1%>
                           <%}%>
                           <%if(check==0){%>
                            <form action="/auth/like?post=<%=posts[i].id%>" method="POST">
                              <div class="postedit__button">
                                  <button type="submit">like</button>     
                              </div>
                          </form>
                        <%}else{%>
                            <form action="/auth/unlike?post=<%=posts[i].id%>" method="POST">
                                <div class="postedit__button">
                                    <button type="submit">unlike</button>     
                                </div>
                            </form>
                            <%}%>
                       
                      </div>
                          
                      </div>
            <%}%>
                <% i = i + 1%>
                <% if(i < posts.length){%>
                    <div class="post__cubes">
                        <p><u> <%=posts[i].Title%></u></p> 
                          <p><%=posts[i].Sumary%></p>
                          <% if(posts[i].image){%>
                          <div class="post__img"> 
                              <img alt="post Pic" 
                              src="http://localhost:3000/images/posts/<%=posts[i].image%>" class="img-circle img-responsive"> 
                          </div>
                
                          <% } %>
                          
                          <div class="cube__buttons">
                            <form action="/postview?post=<%=posts[i].id%>" method="POST">
                                <div class="postedit__button">
                                    <button type="submit">view</button>     
                                </div>
                            </form>
                            

                            <% r=0%>
                            <% check=0%>
                            <% while(r< like.length){%>
                                
                               <% if(like[r].postID==posts[i].id){%>
                                <%check=1%>
                               <% }%>
                               <%r=r+1%>
                           <%}%>
                           <%if(check==0){%>
                            <form action="/auth/like?post=<%=posts[i].id%>" method="POST">
                              <div class="postedit__button">
                                  <button type="submit">like</button>     
                              </div>
                          </form>
                        <%}else{%>
                            <form action="/auth/unlike?post=<%=posts[i].id%>" method="POST">
                                <div class="postedit__button">
                                    <button type="submit">unlike</button>     
                                </div>
                            </form>
                            <%}%>
                        </div>
                          
                      </div>
                <%}%>
                              <% i = i + 1%>
                              <% if(i < posts.length){%>
                                <div class="post__cubes">
                                    <p><u> <%=posts[i].Title%></u></p> 
                                      <p><%=posts[i].Sumary%></p>
                                      <% if(posts[i].image){%>
                                      <div class="post__img"> 
                                          <img alt="post Pic" 
                                          src="http://localhost:3000/images/posts/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                      </div>
                                  
                                      <% } %>

                                      <div class="cube__buttons">

                                        <form action="/postview?post=<%=posts[i].id%>" method="POST">
                                            <div class="postedit__button">
                                                <button type="submit">view</button>     
                                            </div>
                                        </form>


                                        <% r=0%>
                            <% check=0%>
                            <% while(r< like.length){%>
                               
                               <% if(like[r].postID==posts[i].id){%>
                                <%check=1%>
                               <% }%>
                               <%r=r+1%>
                           <%}%>
                           <%if(check==0){%>
                            <form action="/auth/like?post=<%=posts[i].id%>" method="POST">
                              <div class="postedit__button">
                                  <button type="submit">like</button>     
                              </div>
                          </form>
                        <%}else{%>
                            <form action="/auth/unlike?post=<%=posts[i].id%>" method="POST">
                                <div class="postedit__button">
                                    <button type="submit">unlike</button>     
                                </div>
                            </form>
                            <%}%>
                                    </div>
                                      
                                  </div>
                            <%}%>
                                          <% i = i + 1%>
                                        </div>


    <%}%>

</div>

   <script>
    const navSlide=()=>{
        const burger=document.querySelector('.burger');
        const nav= document.querySelector('.nav-links');
        const navLinks=document.querySelectorAll('.nav-links li')
        burger.addEventListener('click',()=>{
            nav.classList.toggle('nav-active');
            navLinks.forEach((link,index)=>{
            if(link.style.animation){
                link.style.animation='';
            }
            else{
                link.style.animation=`navLinkFade 0.5s ease forwards ${index/7+.5}s`;
            }
        })
        })
        
    }
    navSlide();
</script>
</body>
</html>