<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="/navbar-style.css">
    <title>Blog register</title>
</head>
<body>
    <nav> 
        <h3>Blog</h3>
        <u1 class="nav-links">
            <li><a href="./home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </u1>
     <div class="burger">
         <div class="line1"></div>
         <div class="line2"></div>
         <div class="line3"></div>
         
     </div>
    </nav>
    <div class="profile">
        <div class="profile__sidebar">

            <div class="profile__welcome">
                <div class="image"> 
                    <img alt="User Pic" 
                    src="http://localhost:3000/images/uploaded_images/<%=user.profileImage%>" class="img-circle img-responsive"> 
                </div>
                <h3>Welcome <%= user.firstname%> <%=user.middlename%></h3>                 
            </div>

            <div class="profile__details">
                <h3>Profile Details</h3>
                
                <p>
                     Name : <%= user.firstname%> <%= user.middlename%> <%=user.lastname%>
                </p>
                <p> Email : <%=user.email%></p>
                <p> Mobile : <%=user.mobile%></p>
                <p> Intro : 
                    <div class="detail_cont">
                        <%=user.Intro%>
                    </div>                
                </p>

                <form action="/edit" method="POST">
                    <div class="detail__button">
                        <button type="submit">Edit</button>     
                    </div>
                </form>
            </div>

         </div>

         <div class="profile__post">
            <div class="post__welcome">
                <h3>Your posts</h3>
              </div>  
              <div class="profile__details">
                <h3>Upload a post</h3>
                <% if(message) {%>
                    <div class="reg__alert"> <%= message%> </div>
                    <% console.log(message)%>
                      <%}%>
                <form action="/auth/upload" method="POST" role="form" enctype="multipart/form-data">
                       
                       <div class="form__input">
                        <div class="post__label">
                        <label for="Title">Title</label>
                           <input type="text" id="title" name="title" placeholder="Title for post"
                           required/> 
                           </div>
                       </div>

                       <div class="form__input">
                        <div class="post__label">
                        <label for="content">Content</label>
                           <input class="content__field" type="text" id="content" name="content" placeholder="Whats on your mind about the post"
                           required/> 
                           </div>
                       </div>
                       <div class="post__label">
                        <label for="mob_no" class="col-md-3 control-label">Post an image</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="file" name="uploaded_image" accept="" required/>
                        </div> 
                       </div>

                       <div class="form__input">
                        <div class="post__label">
                        <label for="content">Summary for viewers</label>
                           <input class="content__field" type="text" id="summary" name="summary" placeholder="Summary for viewers"
                           required/> 
                           </div>
                       </div>
                     
                       <div class="upload__button">
                        <button type="submit">Upload post</button>     
                    </div>
                </form>
            </div>
            <div class="post__details">
            <h3> Your previous posts</h3>
        </div>
        
            <%  i = 0%>
            <div class="post__list">
            <% while(i < posts.length){%>
                
                    <div class="post__design">
                        <% if(i < posts.length){%>
                            <div class="post__cubes">
                                <p><u> <%=posts[i].Title%></u></p> 
                                  <p><%=posts[i].Sumary%></p>
                                  <% if(posts[i].image){%>
                                  <div class="post__img"> 
                                      <img alt="post Pic" 
                                      src="http://localhost:3000/images/posts/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                  </div>
                                  <% } %>
                              <h3>Delete   edit</h3>
                                  
                              </div>
                    <%}%>
                        <% i = i + 1%>
                        <% if(i < posts.length){%>
                            <div class="post__cubes">
                                <p><u> <%=posts[i].Title%></u></p> 
                                  <p><%=posts[i].Sumary%></p>
                                  <% if(posts[i].image){%>
                                  <div class="post__img"> 
                                      <img alt="post Pic" 
                                      src="http://localhost:3000/images/posts/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                  </div>
                                  <% } %>
                              <h3>Delete   edit</h3>
                                  
                              </div>
                        <%}%>
                                      <% i = i + 1%>
                                      <% if(i < posts.length){%>
                                        <div class="post__cubes">
                                            <p><u> <%=posts[i].Title%></u></p> 
                                              <p><%=posts[i].Sumary%></p>
                                              <% if(posts[i].image){%>
                                              <div class="post__img"> 
                                                  <img alt="post Pic" 
                                                  src="http://localhost:3000/images/posts/<%=posts[i].image%>" class="img-circle img-responsive"> 
                                              </div>
                                              <% } %>
                                          <h3>Delete   edit</h3>
                                              
                                          </div>
                                    <%}%>
                                                  <% i = i + 1%>
                                                </div>
            <%console.log(i)%>
        
            <%}%>
        
        </div>
              
            
              
        
        <!---- <div class="profile__follower">
            <div class="follower__welcome">
                <h3>Following</h3>
              </div> 
              <div class="detail__follower">
                  
              </div>
        </div>-->
         

    </div>
 
  


   <script>
    const navSlide=()=>{
        const burger=document.querySelector('.burger');
        const nav= document.querySelector('.nav-links');
        const navLinks=document.querySelectorAll('.nav-links li')
        burger.addEventListener('click',()=>{
            nav.classList.toggle('nav-active');
            navLinks.forEach((link,index)=>{
            if(link.style.animation){
                link.style.animation='';
            }
            else{
                link.style.animation=`navLinkFade 0.5s ease forwards ${index/7+.5}s`;
            }
        })
        })
        
    }
    navSlide();
</script>
</body>
</html>